.profile{
  width: 80%;
  margin: 60px auto;
  display: flex;
  gap: 20px;
}
.profile__photo{
  border-radius: 50%;
  height:127px;
}
.profile__text{
  margin-left: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap:  20px;
}
.profile__name{
  color: #FFF;
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 0;
  text-overflow: ellipsis;
 white-space: nowrap;
 overflow: hidden;
}
.profile__description{
  color: #FFF;
font-size: 18px;
font-weight: 400;
margin-top: 14px;
text-overflow: ellipsis;
 white-space: nowrap;
 overflow: hidden;
}
.profile__button-edit{
object-fit: contain;
margin-top: 44px;
}
.profile__button-add{
object-fit: contain;
margin-top: 40px;
height: 60px;
}
.profile__button-edit:hover{
  opacity: 0.5;
  cursor: pointer;
}
.profile__button-add:hover{
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width:895px) {
.profile{
  flex-wrap: wrap;
  justify-content: center;
}
.profile__text{
grid-template-columns: 1fr 30px;
grid-template-rows: 1fr;
text-align: center;
grid-column-gap: 10px;
}
.profile__button-add{
  margin-top: 5px;
}

}

@media screen and (max-width:410px) {
  .profile{
    width:100%;
  }
.profile__text{
  grid-template-rows: 40px 40px;
}
  .profile__name{
font-size: 22px;
  }
  .profile__description{
    font-size: 14px;
    margin-top: 20px;
    height: 50px;
  }
  .profile__button-edit{
    margin-top: 20px;
  }

}


